.banner {
    &_container {
        width: 100%;
        height: 223px;
        position: relative;
        text-align: center;
        color: $textLight;

        @media (max-width: 768px) {
            height: 133px;
        }
    }
    
    &_image {
        width: 100%;
        object-fit: cover;
        object-position: 0% 50%;
        height: 100%;
        border-radius: 25px;
        filter: brightness(65%);
    }

    &_text {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 768px) {
            font-size: 24px;
            margin: 0 16px;
        }

        p {
            font-size: 48px;
            font-weight: 500;
            margin: 0 40px;

            @media (max-width: 768px) {
                font-size: 24px;
                margin: 0 16px;
            }
        }
    }
}