.footer {
    &_content {
        background-color: $backgroundFooter;
        width: 100%;
        min-width: 330px;
        height: 209px;
        margin-bottom: 0;
    }

    &_divLogo {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        padding-top: 66px;
    }

    &_logo {
        width: 122px;
        height: 40px;
    }

    &_divText {
        width: 100%;
        text-align: center;
        margin-bottom: 29px;
        color: $textLight;
        font-size: 24px;
        
        @media (max-width: 768px) {
            font-size: 12px;
        }
    }
}