.dwelling {
    &_headline {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        height: 150px;

        @media (max-width: 768px) {
            margin: 15px 0;
            height: auto;
            flex-direction: column;
        }
    }

    &_headlineInfos {
        margin-right: 64px;
        display: grid;

        @media (max-width: 768px) {
            margin-right: 0;
        }
    }

    &_title {
        margin: 0;
        color: $primary;
        font-weight: 500;
        font-size: 36px;

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }

    &_location {
        margin: 0;
        color: $primary;
        font-weight: 500;
        font-size: 18px;

        @media (max-width: 768px) {
            margin: 8px 0;
            font-size: 14px;
        }
    }

    &_headlineHost {
        display: grid;
        align-items: baseline;
        min-width: 210px;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content:  space-between;
            margin-top: 16px;
        }
    }

    &_hostIdentity {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &_hostName {
        margin: 0 16px 0 0;
        color: $primary;
        font-weight: 500;
        font-size: 18px;
        text-align: right;

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    &_hostPicture {
        width: 64px;
        height: 64px;
        border-radius: 50px;
        background-color: $backgroundDark;

        @media (max-width: 768px) {
            width: 32px;
            height: 32px;
        }
    }

    &_tags {
        display: flex;
        flex-wrap: wrap;
        align-self: end;

        @media (max-width: 768px) {
            margin-top: 4px;
        }
    }

    &_tagContainer {
        width: 115px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px 4px 0;
        background-color: $primary;
        border-radius: 10px;
        padding: 0 5px;

        @media (max-width: 768px) {
            width: 84px;
            height: 18px;
            border-radius: 5px;
        }
    }

    &_tagText {
        margin: 0;
        color: $textLight;
        font-weight: 500;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: default;

        @media (max-width: 768px) {
            font-size: 10px;
        }
    }

    &_ratings {
        align-self: end;
        display:flex;
        justify-content: flex-end;
    }

    &_star {
        width: 25px;
        height: 24px;
        margin: 8px;

        @media (max-width: 768px) {
            width: 14px;
            height: 13px;
            margin: 3px;
        }
    }

    &_informations {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .collapse_container {
            width: 45%;

            @media (max-width: 768px) {
                width: 100%;
                margin: 10px 0;
            }

            h2 {
                font-size: 18px;

                @media (max-width: 768px) {
                    font-size: 13px;
                }
            }
        }

        .collapse_content {
            min-height: 250px;

            @media (max-width: 768px) {
                min-height: 100px;
            }

            p {
                font-size: 18px;
                padding: 0;

                @media (max-width: 768px) {
                    font-size: 12px;
                }
            }
        }
    }
}