.header_content {
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header_content {
    padding: 20px;
  }
}
.header_navList {
  display: flex;
  justify-content: space-between;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
@media (max-width: 768px) {
  .header_navList {
    text-transform: uppercase;
  }
}
.header_navList li:first-child {
  margin-right: 64px;
}
@media (max-width: 768px) {
  .header_navList li:first-child {
    margin-right: 16px;
  }
}
.header_logo {
  width: 210px;
  height: 68px;
}
@media (max-width: 768px) {
  .header_logo {
    width: 145px;
    height: 47px;
  }
}
.header_navLink {
  color: #FF6060;
  font-size: 24px;
  font-weight: 500;
}
.header_navLink:hover {
  cursor: pointer;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .header_navLink {
    font-size: 12px;
    font-weight: 500;
  }
}

.footer_content {
  background-color: #000000;
  width: 100%;
  min-width: 330px;
  height: 209px;
  margin-bottom: 0;
}
.footer_divLogo {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  padding-top: 66px;
}
.footer_logo {
  width: 122px;
  height: 40px;
}
.footer_divText {
  width: 100%;
  text-align: center;
  margin-bottom: 29px;
  color: #FFFFFF;
  font-size: 24px;
}
@media (max-width: 768px) {
  .footer_divText {
    font-size: 12px;
  }
}

.banner_homeContainer {
  width: 100%;
  height: 223px;
  position: relative;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .banner_homeContainer {
    height: 133px;
    text-align: left;
  }
}
.banner_aboutContainer {
  width: 100%;
  height: 223px;
  position: relative;
  text-align: center;
  color: #FFFFFF;
}
.banner_image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 50%;
     object-position: 0% 50%;
  height: 100%;
  border-radius: 25px;
  filter: brightness(65%);
}
@media (max-width: 768px) {
  .banner_image {
    border-radius: 10px;
  }
}
.banner_text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .banner_text {
    font-size: 24px;
    margin: 0;
  }
}
.banner_text p {
  font-size: 48px;
  font-weight: 500;
  margin: 0 40px;
}
@media (max-width: 768px) {
  .banner_text p {
    font-size: 24px;
    margin: 0 16px;
  }
}

.cardsSet_section {
  margin-top: 40px;
  padding: 3%;
  background-color: #F7F7F7;
  border-radius: 25px;
}
@media (max-width: 768px) {
  .cardsSet_section {
    margin-top: 16px;
    padding: 0;
    background-color: transparent;
  }
}
.cardsSet_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 0;
  margin: 0;
}
@media (max-width: 768px) {
  .cardsSet_list {
    justify-content: center;
  }
}

.card_container {
  width: 30%;
  min-width: 280px;
  height: 340px;
  margin: 16px 8px;
  background: linear-gradient(180deg, #FF6060 0%, rgb(100, 45, 45) 100%);
  border-radius: 10px;
}
@media (max-width: 768px) {
  .card_container {
    width: 100%;
    margin: 20px 0;
  }
}
.card_divImg {
  width: 96%;
  height: 75%;
  padding: 2%;
}
.card_img {
  border-radius: 6px 6px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.card_divText {
  height: 20%;
  display: flex;
}
.card_text {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  margin: auto 20px;
}

.collapse_section {
  padding: 0 10%;
}
@media (max-width: 768px) {
  .collapse_section {
    padding: 0;
  }
}
.collapse_container {
  display: flex;
  flex-direction: column;
  margin: 32px 0;
}
@media (max-width: 768px) {
  .collapse_container {
    margin: 20px 0;
  }
}
.collapse_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FF6060;
  color: #FFFFFF;
  height: 47px;
  border-radius: 5px;
  padding-left: 16px;
  z-index: 1;
}
@media (max-width: 768px) {
  .collapse_bar {
    height: 30px;
  }
}
.collapse_bar h2 {
  font-weight: 500;
  font-size: 24px;
}
@media (max-width: 768px) {
  .collapse_bar h2 {
    font-size: 13px;
  }
}
.collapse_icon {
  padding-right: 16px;
  cursor: pointer;
  width: 24px;
  height: 14px;
}
@media (max-width: 768px) {
  .collapse_icon {
    width: 16px;
    height: 9px;
  }
}
.collapse_content {
  background-color: #F7F7F7;
  color: #FF6060;
  position: relative;
  bottom: 5px;
  border-radius: 0 0 5px 5px;
}
.collapse_content div {
  margin: 32px 16px 16px 16px;
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .collapse_content div {
    margin: 32px 16px 32px 16px;
    font-size: 12px;
  }
}
.collapse_content p {
  margin: 0;
}
.collapse_content_hide {
  height: 0px;
}

.carousel_container {
  position: relative;
  width: 100%;
  height: 415px;
}
@media (max-width: 768px) {
  .carousel_container {
    height: 255px;
  }
}
.carousel_image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
.carousel_arrowsContainer {
  width: 100%;
  height: 415px;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .carousel_arrowsContainer {
    height: 255px;
  }
}
.carousel_arrow {
  width: 47px;
  height: 80px;
  margin: 24px;
}
.carousel_arrow:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  .carousel_arrow {
    width: 12px;
    height: 20px;
  }
}

.dwelling_headline {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  height: 150px;
}
@media (max-width: 768px) {
  .dwelling_headline {
    margin: 15px 0;
    height: auto;
    flex-direction: column;
  }
}
.dwelling_headlineInfos {
  margin-right: 64px;
  display: grid;
}
@media (max-width: 768px) {
  .dwelling_headlineInfos {
    margin-right: 0;
  }
}
.dwelling_title {
  margin: 0;
  color: #FF6060;
  font-weight: 500;
  font-size: 36px;
}
@media (max-width: 768px) {
  .dwelling_title {
    font-size: 18px;
  }
}
.dwelling_location {
  margin: 0;
  color: #FF6060;
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dwelling_location {
    margin: 8px 0;
    font-size: 14px;
  }
}
.dwelling_headlineHost {
  display: grid;
  align-items: baseline;
  min-width: 210px;
}
@media (max-width: 768px) {
  .dwelling_headlineHost {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 16px;
  }
}
.dwelling_hostIdentity {
  display: flex;
  align-items: center;
  justify-content: end;
}
.dwelling_hostName {
  margin: 0 16px 0 0;
  color: #FF6060;
  font-weight: 500;
  font-size: 18px;
  text-align: right;
}
@media (max-width: 768px) {
  .dwelling_hostName {
    font-size: 12px;
  }
}
.dwelling_hostPicture {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  background-color: #C4C4C4;
}
@media (max-width: 768px) {
  .dwelling_hostPicture {
    width: 32px;
    height: 32px;
  }
}
.dwelling_tags {
  display: flex;
  flex-wrap: wrap;
  align-self: end;
}
@media (max-width: 768px) {
  .dwelling_tags {
    margin-top: 4px;
  }
}
.dwelling_tagContainer {
  width: 115px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 4px 0;
  background-color: #FF6060;
  border-radius: 10px;
  padding: 0 5px;
}
@media (max-width: 768px) {
  .dwelling_tagContainer {
    width: 84px;
    height: 18px;
    border-radius: 5px;
  }
}
.dwelling_tagText {
  margin: 0;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}
@media (max-width: 768px) {
  .dwelling_tagText {
    font-size: 10px;
  }
}
.dwelling_ratings {
  align-self: end;
  display: flex;
  justify-content: end;
}
.dwelling_starActive, .dwelling_starInactive {
  width: 25px;
  height: 24px;
  margin: 8px;
}
@media (max-width: 768px) {
  .dwelling_starActive, .dwelling_starInactive {
    width: 14px;
    height: 13px;
    margin: 3px;
  }
}
.dwelling_informations {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .dwelling_informations {
    flex-direction: column;
  }
}
.dwelling_informations .collapse_container {
  width: 45%;
}
@media (max-width: 768px) {
  .dwelling_informations .collapse_container {
    width: 100%;
    margin: 10px 0;
  }
}
.dwelling_informations .collapse_container h2 {
  font-size: 18px;
}
@media (max-width: 768px) {
  .dwelling_informations .collapse_container h2 {
    font-size: 13px;
  }
}
.dwelling_informations .collapse_content {
  min-height: 250px;
}
@media (max-width: 768px) {
  .dwelling_informations .collapse_content {
    min-height: 100px;
  }
}
.dwelling_informations .collapse_content p {
  font-size: 18px;
  padding: 0;
}
@media (max-width: 768px) {
  .dwelling_informations .collapse_content p {
    font-size: 12px;
  }
}

.error_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FF6060;
  font-weight: 500;
  text-align: center;
}
.error_notFound {
  font-size: 288px;
  font-weight: 700;
  margin: 0px;
}
@media (max-width: 768px) {
  .error_notFound {
    font-size: 96px;
  }
}
.error_text {
  font-size: 36px;
  margin: 32px 0;
}
@media (max-width: 768px) {
  .error_text {
    font-size: 18px;
  }
}
.error_link {
  font-size: 18px;
  color: #FF6060;
  margin-top: 100px;
}
.error_link:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .error_link {
    font-size: 14px;
  }
}

.content_padding {
  padding: 0px 100px;
}
@media (max-width: 768px) {
  .content_padding {
    padding: 0 20px;
  }
}/*# sourceMappingURL=main.module.css.map */